body {
  font-family: "Arial", sans-serif;
}

.section {
  padding: 3rem 1.5rem;
}

.image.is-rounded {
  border: 3px solid #00d1b2;
}

/* Estilo base para las tarjetas */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Asegura que los elementos se distribuyan uniformemente */
  height: 300px; /* Define una altura fija */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Agrega un sombreado elegante */
}

/* Asegurar que las descripciones no desborden */
.card-content p {
  overflow: hidden; /* Oculta el texto que exceda el espacio */
  text-overflow: ellipsis; /* Añade '...' al final del texto si es muy largo */
  display: -webkit-box; /* Soporte para texto truncado en múltiples líneas */
  -webkit-line-clamp: 3; /* Limita a 3 líneas de texto */
  -webkit-box-orient: vertical;
  height: 4.5em; /* Ajustar la altura al número de líneas */
}

/* Estilo para el botón en la parte inferior */
.card-content .button {
  margin-top: auto; /* Empuja el botón hacia la parte inferior */
}

/* Asegurar que las imágenes sean responsivas */
.card img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 150px; /* Ajusta la altura máxima para mantener proporción */
}
